* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  left: -9999999px;
}

body {
  font: 13px Helvetica, Arial;
}

header {
  padding: 20px 0 10px;
}

/* Information container */
#initial_info {
  width: inherit;
}

#new_room_form, #existing_room_form {
  flex-basis: 0;
  padding: 80px;
}

#information_container {
  border: 1px solid #0097A7;
  border-radius: 15px;

  width: 100%;
  height: 50vh;
  min-height: 400px;

  margin-bottom: 30px;
}

#information_container #username {
  width: 300px;
}

#information_container p {
  font-size: 20px;
  color: #757575;
}

#game_info {
  width: 100%;
  text-align: center;
  height: 100%;
}

#new_room_form, #existing_room_form {
  position: relative;
}

.success_message {
  color: green;
}

.error_message {
  color: red;
  position: absolute;
  top: 10%;
  text-align: center;
}

/* End of information container */

/* Input buttons container */
.btn {
  padding: 7px 50px;
}

/* End of input buttons container */