* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  left: -9999999px;
}

body {
  font: 13px Helvetica, Arial;
}

header {
  padding: 20px 0 10px;
}

/* Information container */
#initial_info {
  width: inherit;
}

#new_room_form, #existing_room_form {
  flex-basis: 0;
  padding: 80px;
}

#information_container {
  border: 1px solid #0097A7;
  border-radius: 15px;

  width: 100%;
  height: 50vh;
  min-height: 400px;

  margin-bottom: 30px;
}

#information_container #username {
  width: 300px;
}

#information_container p {
  font-size: 20px;
  color: #757575;
}

#game_info {
  width: 100%;
  text-align: center;
  height: 100%;
}

#new_room_form, #existing_room_form {
  position: relative;
}

.success_message {
  color: green;
}

.error_message {
  color: red;
  position: absolute;
  top: 10%;
  text-align: center;
}

#game_info>* {
  flex-basis: 0;
  flex-grow: 2;
}

#game_info * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user_choice_container, #competition_choice_container {
  flex-grow: 3;
  display: flex;
}

.choice_headings {
  height: 30%;
  flex-grow: 0;
  font-size: 24px;
  font-weight: bold;
}

.choices {
  flex-grow: 1;
}

p#room_name {
  color: purple;
}

/* End of information container */

/* Input buttons container */
#input_buttons_container i {
  border: 1px solid royalblue;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

#input_buttons_container i:hover {
  border: 1px solid deeppink;
}

#input_buttons_container i:hover {
  color: deeppink;
}

.choosen, .disabled {
  cursor: default!important; 
}

.choosen {
  color: purple!important;
  border: 2px solid purple!important;
}

.choosen:hover {
  color: purple!important;
  border: 2px solid purple!important;
}

.disabled {
  color: #BDBDBD!important;
  border: 1px solid #BDBDBD!important;
}

.disabled:hover {
  color: #BDBDBD!important;
  border: 1px solid #BDBDBD!important;
}



/* End of input buttons container */